<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>主页</title>
    <link type="text/css" rel="stylesheet" th:href="@{/jquery-easyui/themes/material-blue/easyui.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/jquery-easyui/themes/mobile.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/jquery-easyui/themes/color.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/jquery-easyui/themes/icon.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/jquery-easyui/demo/demo.css}" />
    <script type="text/javascript" th:src="@{/jquery-easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-easyui/jquery.easyui.mobile.js}"></script>
    <script type="text/javascript" th:src="${'/jquery-easyui/locale/easyui-lang-' + currentLang + '.js'}"></script>
</head>
<body>
Hello World!
</body>
</html>